.taller4 {
    width: 100%;
    background: linear-gradient(180deg, rgba(248,244,241,1) 0%, rgba(248,244,241,1) 50%, rgba(254,247,97,1) 100%);
    min-height: calc(100vh - 70px);
    padding-bottom: 10px;
    padding-top: 10px;
}

.home_principaltitle {
    margin-left: 10%;
    margin-top: 0px;
    padding-top: 30px;
}

.home_secondarytitle {
    margin-left: 15%;
    font-size: 45px;
}

.inst-box {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 25vh;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.instrucciones {
    text-align: center;
    font-family: "Poppins", sans serif;
    font-weight: 500;
    height: 33%;
}

.analisis {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 40px;
    justify-content: center;
    align-content: center;
}

.graph {
    display: flex;
    align-items: center;
    margin-right: 7%;
}

.input-menu {
    text-align: center;
    display: flex;
    flex-direction: column;
}

input{
    background-color: transparent;
    border-bottom: 2px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    text-align: center;
    font-family: "MessinaSans",sans-serif;
    font-size: 14px;
    height: 30px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input:focus-visible {
    outline: none;
}

button{
    background-color: #97C93E;
    border: 3px solid black;
    height: 45px;
    font-family: "MessinaSans",sans-serif;
    font-size: 14px;
    font-weight: bolder;
    margin-top: 20px;
    width: 60%;
    align-self: center;
}

#fix {
    margin-bottom: 10px;
}

.result {
    margin-bottom: auto;
}

#red {
    background-color:  rgb(246 223 28);
}