footer {
    background-color: black;
    color: white;
}

footer p {
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
}

#twitter {
    color: white;
    text-decoration: none;
}